<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {{blockchain}}

    <form method="post" action="/">
        <label for="sender_id">Sender id :</label><br>
        <input type="text" id="sender_id" name="sender_id"><br>
        <label for="reciver_id">reciver_id</label><br>
        <input type="text" id="reciver_id" name="reciver_id"><br>
        <label for="transaction_amt">transaction_amt</label><br>
        <input type="text" id="transaction_amt" name="transaction_amt"><br>
        <br>
        <input type="submit" value="Submit">
      </form> 
</body>
</html>